body {
  background-color: #e91e63;
  color: white;
  font-family: 'Source Code Pro', monospace;
}
h1 {
  font-weight: bold !important;
}
#SPREE {
  text-decoration: none !important;
  font-weight: bolder !important;
  color: white !important;
  font-size: 40px !important;
  margin-left: 20px;
}
nav {
  display: block !important;
  background-color: #e91e63;
}
#pic {
  margin-left: 210px;
  image-resolution: from-image;
}
div {
  font-size: 20px;
  color: black !important;
}
#storee {
  margin-left: 20px;
}

#loginn {
  text-decoration: underline;
  font-size: 30px;
  text-align: center !important;
}
