<html>
    <head>
        <title>STORE</title>
        <link rel="stylesheet" type="text/css" href="/../static/style.css">
        <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Waiting+for+the+Sunrise&display=swap" rel="stylesheet">
        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    </head>
    <body>
      <nav class="pink">
        <a id="SPREE" href="/index"> SPREE</a>
        <br>
        <a id="storee" href="/store" > return to the store </a>
      </nav>
      <br>
      <br>
      <br>
          {% block content %}
          {% endblock %}
    </body>
</html>
