<html>
    <head>
        <title>STORE</title>
        <link rel="stylesheet" type="text/css" href="/../static/style.css">
        <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Waiting+for+the+Sunrise&display=swap" rel="stylesheet">
        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    </head>
    <body>
      <nav class="pink">
        <a id="SPREE" href="/index"> SPREE</a>
        <br>
        <a id="storee" href="/store" >store < </a>
        <a id="shirts" href="/shirts" >shirts</a>
      </nav>
      <br>
      <br>
      <br>
      <div class="row">
        {% block content %}
        <div class="col s6">
        <img id="ribbed-cardigan" src="https://lp2.hm.com/hmgoepprod?set=source[/5a/dc/5adc943a8dea472774dafbe8ee0bb388a44f6153.jpg],origin[dam],category[ladies_cardigansjumpers_cardigans],type[DESCRIPTIVESTILLLIFE],res[w],hmver[1]&call=url[file:/product/main]" alt="cardigan" width="400" height="400" ></div>
        <div class="col s6 white">RIBBED CARIGAN</div>
        <div class="col s6 white">Boxy cardigan in soft, rib-knit fabric. V-neck, large buttons at front, heavily dropped shoulders, and long sleeves.</div>
        <div class="col s6 white"> $29.99</div>
      <div class="col s6 white">
      <a href="https://www2.hm.com/en_us/productpage.0868629002.html" alt="link"> link to purchase</a></div>
      {% endblock %}
    </div>
    </body>
</html>
