<html>
    <head>
        <title>SPREE</title>
      <link rel="stylesheet" type="text/css" href="/../static/style.css">
      <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro&display=swap" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Waiting+for+the+Sunrise&display=swap" rel="stylesheet">
    </head>
    <body>
      <nav class="w3-bar w3-black">
        <a id = "home" href="/index" class="w3-button w3-bar-item"> home</a>
        <a id = "store" href="/store" class="w3-button w3-bar-item"> store</a>
        <a id = "<3" href="/favorites" class="w3-button w3-bar-item"> favorites</a>
        <a id = "login" href="/login" class="w3-button w3-bar-item"> login</a>
        <a id = "administrator" href="/administrator" class="w3-button w3-bar-item"> administrator</a>
        <a id = "requests" href="/requests" class="w3-button w3-bar-item"> requests</a>
      </nav>
      <h1>Welcome to SPREE!</h1>
      <h2>SPREE is a web app which displays clothing items and allows you to
        filter by brand and sort by least to most expensive!</h2>
    </body>
</html>
