<html>
    <head>
        <title>SPREE</title>
      <link rel="stylesheet" type="text/css" href="/../static/style.css">
      <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro&display=swap" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Waiting+for+the+Sunrise&display=swap" rel="stylesheet">
    </head>
    <body>
      <nav class="w3-bar w3-black">
        <a id = "home" href="/index" class="w3-button w3-bar-item"> home</a>
        <a id = "store" href="/store" class="w3-button w3-bar-item"> store</a>
        <a id = "login" href="/login" class="w3-button w3-bar-item"> login</a>
        <a id = "admin" href="/admin" class="w3-button w3-bar-item"> administrator</a>
        {% if session %} <a id = "/profile" href="/profile" class="w3-button w3-bar-item"> profile</a> {% endif %}
      </nav>
      <h1>Welcome to SPREE!</h1>
      <h2>SPREE is a web app which displays clothing items from various brands and allows you to
        filter by price!</h2>
        <!-- {% if session %}
          <p> you are logged in </p>
          <button type="button" href="/logout" > logout</button>
        {% endif %} -->
    </body>
</html>
