<html>
    <head>
        <title>STORE</title>
        <link rel="stylesheet" type="text/css" href="/../static/style.css">
        <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Waiting+for+the+Sunrise&display=swap" rel="stylesheet">
    </head>
    <body>
      <nav class="w3-bar w3-black">
        <a id = "home" href="/index" class="w3-button w3-bar-item"> home</a>
        <a id = "store" href="/store" class="w3-button w3-bar-item"> store</a>
        <a id = "login" href="/login" class="w3-button w3-bar-item"> login</a>
        <a id = "admin" href="/admin" class="w3-button w3-bar-item"> administrator</a>
        {% if session %} <a id = "profile" href="/profile" class="w3-button w3-bar-item"> profile</a> {% endif %}
      </nav>
      <h2>Browse all items now!</h2>
      <a  href="/sort50"> items less than $50</a> <br>
      <a href="/sort100"> items $50 to $100</a>
      <p> if you filter the page, you can go back to viewing all items by clicking store!</p>
      <br> <br>
      <form action="/item", method="POST">
        {% for item in items %}
          <input type="radio" name="name" value="{{ item.name }}"> <img src="{{ item.image }}" width="150" height="150">
        {% endfor %}
          <input type="submit" value="view item">
      </form>
    {{ message }}
    </body>
</html>
