<html>
    <head>
        <title>STORE</title>
        <link rel="stylesheet" type="text/css" href="/../static/style.css">
        <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Waiting+for+the+Sunrise&display=swap" rel="stylesheet">
    </head>
    <body>
      <nav class="w3-bar w3-black">
        <a id = "home" href="/index" class="w3-button w3-bar-item"> home</a>
        <a id = "store" href="/store" class="w3-button w3-bar-item"> store</a>
        <a id = "<3" href="/favorites" class="w3-button w3-bar-item"> favorites</a>
        <a id = "login" href="/login" class="w3-button w3-bar-item"> login</a>
        <a id = "administrator" href="/administrator" class="w3-button w3-bar-item"> administrator</a>
        <a id = "requests" href="/requests" class="w3-button w3-bar-item"> requests</a>
      </nav>
      <h2>Browse all items now!</h2>
      <a href="/cardigan">
        <img src="https://lp2.hm.com/hmgoepprod?set=source[/5a/dc/5adc943a8dea472774dafbe8ee0bb388a44f6153.jpg],origin[dam],category[ladies_cardigansjumpers_cardigans],type[DESCRIPTIVESTILLLIFE],res[w],hmver[1]&call=url[file:/product/main]" alt="ribbed cardigan" width="200" height="200" >
    </a>
    <a href="/sweater">
      <img src="https://lp2.hm.com/hmgoepprod?set=source[/07/90/079089e202ae48f1e3f254c3eece6c4ae49d2e73.jpg],origin[dam],category[ladies_cardigansjumpers_jumpers],type[DESCRIPTIVESTILLLIFE],res[w],hmver[1]&call=url[file:/product/main]" alt="ruffled ribbed sweater" width="200" height="200" >
    </a>
    <a href="/lace-detail">
      <img src="https://lp2.hm.com/hmgoepprod?set=source[/f4/66/f466d380b9f8eecd7fc7c2cf9a091cbfa6e1cc42.jpg],origin[dam],category[ladies_cardigansjumpers_jumpers],type[DESCRIPTIVESTILLLIFE],res[w],hmver[1]&call=url[file:/product/main]" alt="lace-detailed sweater" width="200" height="200">
    </a>
    <a href="/hoodie">
      <img src="https://lp2.hm.com/hmgoepprod?set=source[/6a/b5/6ab580d4bfaef83c907b1c90499b8bfdf9d017a2.jpg],origin[dam],category[ladies_hoodiesswetshirts_hoodies],type[DESCRIPTIVESTILLLIFE],res[w],hmver[1]&call=url[file:/product/main]" alt="hoodie" width="200" height="200">
    </a>
    <a href="/puff-sleved">
      <img src="https://lp2.hm.com/hmgoepprod?set=source[/34/bc/34bcbf3136f65da6b4935f0cf72da3f33b2bfaab.jpg],origin[dam],category[ladies_tops_longsleeve],type[DESCRIPTIVESTILLLIFE],res[w],hmver[1]&call=url[file:/product/main]" alt="puff-sleved ribbed top" width="200" height="200">
    </a>
    </body>
</html>
